.DS_Store
/work
/node_modules
*.configbean
/pids
/log
.vscode
.cache
.beans
/static
*.marko.js
*.dust.js
*.log
.telemetry.json
restarts_*
.idea
.test
.coverage
shots
target
app-assembler-inputs.properties
packageignore_tmp.txt
temp.txt
assembler-standalone-1.1.9.SA.jar
